.container{
    background-color: gray;


}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container > div{
    
}
.header{
    background-color: red;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 40px;

}
.navbar{
    background-color: rgb(221, 113, 113);
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 40px;

}
.main{
    width: 100%;
    height: 500px;
    background-color: rgb(52, 238, 191);
}
.aside{
    width: 20%;
    height: 499px;
    background-color: rgb(128, 123, 123);
    float: left;
    text-align: center;
    padding-top: 250px;    
}
.article{
    background-color: rgb(32, 4, 4);
    color: white;
    height: 50%;
    text-align: center;
    padding-top: 125px;


}
.section{
    background-color: rgb(193, 211, 204);
    height: 50%;
    text-align: center;
    padding-top: 125px;
}
.section-article{
    width: 100%;
    height: 500px;
    
}


.footer{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: rgb(23, 82, 82);
    padding-top: 45px;
}
